#blogs {
    margin-top: 100px;
}

.blog {
    margin-bottom: 50px;
    background-color: #c5c7d9;
    box-shadow: 0px 0px 10px #bad8ed;
    color: #000;
    border-radius: 10px;
    padding: 5px 25px;
}

@media(max-width:768px){

    #headRightLinkA {
        margin-right: 0px;
    }

    #blogs {
        margin-top: 50px;
    }

    h2 {
        text-align: center;
        margin-bottom: 0px;
    }

    p {
        margin-bottom: 0px;
    }

    footer {
        margin-top: 40px;
        flex-direction: column;
    }

    .footerPara {
        margin: 0px;
        text-align: center;
    }
}
