#works {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.workContent {
    width: 30%;
    height: 210px;
    margin-bottom: 60px;
}
    
.workViewCode {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    border: 2px solid #fff;
    border-radius: 10px;
    width: 100%;
    height: 132px;
}

.gitIcon {
    border: none;
    height: 30px;
    width: 30px;
}

footer {
    margin-top: 0px;
}

@media (max-width: 768px) { 
    
    #works {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        flex-wrap: nowrap;
    }

    .workContent {
        margin-bottom: 20px;
        width: 70%;
    }

    .gitIcon {
        height: 15px;
        width: 15px;
    }
}