.dataTypsVu {
    margin-top: 80px;
}

#categories {
    display: flex;
    justify-content: space-around;
}

.categorieName {
    margin-top: 0px;
    color: #fff;
}

ul {
    margin-bottom: 0px;
}

.dataTyp {
    margin-top: 60px;
}

.dataTypsHead {
    text-align: left;
    color: #fff;
}

.data {
    margin-top: 60px;
}

.dataName {
    font-size: 30px;
}

.diff {
    margin-top: 60px;
}
